* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: linear-gradient(45deg, #0b0e1a, #1935a5d9);
  color: #eee;
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

#root {
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 9rem;
  padding: 2rem;
  text-align: center;
}

h2 {
  font-size: 3.2rem;
}

.title-black {
  color: #333;
  font-size: 2rem;
}

.btn-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
  border-radius: 59px;
  padding: 10px 40px;
  box-shadow: inset 1px 1px 2px 1px rgba(0, 75, 151, 0.4);
}

.file-input-wrapper {
  padding: 100px 40px;
}

.btn {
  background: #0e1c53c7;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  box-shadow: 2px 2px 2px #0e1c53c7;
}

.btn:hover {
  background-color: #0e1c53;
}

.file-input {
  display: none;
}

.mod-selector-wrapper {
  flex-direction: column;
  gap: 8px;
}
.mod-selector-title {
  color: #0e1c53;
}
.mod-selector-btn {
  width: 50%;
  text-align: left;
  transition: all 0.5s ease;
}
.mod-selector-btn:hover,
.mod-selector-btn-selected {
  transform: translateX(10%);
  background-color: #dcbc05;
  color: #0e1c53;
}

/* Progress bar */
progress {
  width: 300px;
  max-width: 100%;
  height: 20px;
  border: none;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin-top: 24px;
}

/* Chrome, Safari, and Edge */
progress::-webkit-progress-bar {
  background-color: #e0e0e0;
  border-radius: 10px;
}

progress::-webkit-progress-value {
  background: #1935a5d9;
}

/* Firefox */
progress::-moz-progress-bar {
  background: #1935a5d9;
  border-radius: 10px;
}

/* HEADER */
.tools-icon-container {
  display: none;
  margin-left: auto;
  cursor: pointer;
}
.tools-icon {
  width: 32px;
}
.tools-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 12px;
  position: fixed;
  top: 0;
  right: 90px;
  transform: translateX(100%);
  transition: all 0.7s ease-out 0s;
  height: 100%;
  background: #1c2e75;
  padding: 24px;
}
.tools-menu-open {
  transform: translateX(0);
  right: 0;
}
.tools-close {
  display: none;
  font-size: 32px;
  cursor: pointer;
}
.tool-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.tool-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 18px;
}
.tool-icon {
  width: 48px;
  filter: invert(98%) sepia(13%) saturate(90%) hue-rotate(208deg)
    brightness(115%) contrast(87%);
}
.tool-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.tool-expand-icon {
  width: 14px;
  transition: transform 0.5s ease;
}
.tool-collapse-icon {
  transform: rotate(180deg);
}
.tool-box {
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
  flex-direction: column;
}
.tool-box-expanded {
  height: 128px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.tool-box-checkbox {
  color: #333;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 6px;
}

.tab-selector-container {
  margin-bottom: 64px;
}
.tab-selector {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 4px;
}
.tab {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row span {
  font-size: 3rem;
}

.table-container {
  width: 100%;
  overflow-x: scroll;
}
table {
  border-collapse: collapse;
  font-size: 2rem;
}
tr {
  background: #eee;
  color: #333;
  border-radius: 59px;
}
th,
td {
  padding: 10px 20px;
}

@media screen and (max-width: 375px) {
  #root {
    margin: 0 auto;
  }
  .btn-wrapper,
  .mod-selector-btn {
    width: 100%;
  }

  /* HEADER */
  .tools-menu {
    width: 100%;
    right: 0;
  }
  .tools-icon-container,
  .tools-close {
    display: flex;
  }
}
