* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  background: linear-gradient(45deg, #0e1c53, #0e1c53d9);
  color: #eee;
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
  border-radius: 59px;
  padding: 10px 40px;
  box-shadow: inset 1px 1px 4px 1px rgba(0, 75, 151, 0.4);
}

.file-input-wrapper {
  height: calc(100vh - 2 * 2rem); /* 2rem padding on #root */
}

.btn {
  background: #0e1c53c7;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  box-shadow: 4px 4px 16px #0e1c53c7;
}

.btn:hover {
  background-color: #0e1c53;
}

.file-input {
  display: none;
}

.tab-selector {
  list-style-type: none;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 4px;
  margin-bottom: 64px;
}
.tab {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row span {
  font-size: 3rem;
}

.table-container {
  width: 100%;
  overflow-x: scroll;
}
table {
  border-collapse: collapse;
  font-size: 2rem;
}
tr {
  background: #eee;
  color: #333;
  border-radius: 59px;
}
th,
td {
  padding: 10px 20px;
}
